<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h1>ユーザー編集</h1>
    <form th:action="@{/user/edit}" th:object="${editUser}" method="post">
      <input type="hidden" th:field="*{id}" th:value="*{id}" />
      <div>
        <label for="name">名前</label>
        <input type="text" th:field="*{name}" th:value="*{name}" />
      </div>
      <div>
        <label for="name">メール</label>
        <input type="text" th:field="*{email}" th:value="*{email}" />
      </div>
      <input type="submit" value="更新" />
    </form>
    <div>
      <a th:href="@{/user}">戻る</a>
    </div>
  </body>
</html>
