<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
  </head>
  <body>
    <h1>サンプルテンプレート</h1>
    <p th:text="${message}"></p>
    <form method="post" action="/plus">
      <input type="number" name="num1" /> +
      <input type="number" name="num2" />
      <input type="submit" value="実行" />
    </form>
    <div>
      <a href="user">ユーザーリスト</a>
    </div>
  </body>
</html>
