<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <body>
    <h1>ユーザーリスト</h1>
    <hr />
    <table border="1">
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メール</th>
        <th></th>
        <th></th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
          <form th:action="@{/user/edit}" method="get">
            <input type="submit" value="編集" />
            <input type="hidden" name="id" th:value="${user.id}" />
          </form>
        </td>
        <td>
          <form class="deleteForm" th:action="@{/user/delete}" method="post">
            <input type="submit" value="削除" />
            <input type="hidden" name="id" th:value="${user.id}" />
          </form>
        </td>
      </tr>
    </table>
    <div>
      <form th:action="@{/user/add}" method="get">
        <input type="submit" value="新規追加" />
      </form>
    </div>
    <div>
      <a th:href="@{/}">戻る</a>
    </div>
    <script th:src="@{/js/user.js}"></script>
  </body>
</html>
